body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
    /* background-size: cover; */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEI7COEC8Hh6_DjOMn6cuJonQ0CsEDXVrGVQ&s); */
}

.calculator {
    background: rgb(15, 15, 15);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 50%;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button:hover{
    background-color: lightblue ;
}
button {
    height: 40px;
    font-size: 18px;
}

@media only screen and (max-width:1020px) {
    body {
      background-color: lightblue;
    }
    .calculator{
        width: 60%;
        height: 60%;
    }
    button:hover{
        background-color:lightblue ;
    }
  }
 
  @media only screen and (max-width:650px){
    body {
        background-color: lightblue;
      }
      .calculator{
          width: 60%;
          height: 50%;
      }
      button:hover{
          background-color:lightblue ;
      }
    }
  
    @media only screen and (max-width:320px) {
        h1{
            font-size: large;
        }
    }